# Get a TMDB API key at https://www.themoviedb.org/settings/api
TMDB_API_KEY=

# Get an OMDb API key at https://www.omdbapi.com/apikey.aspx
OMDB_API_KEY=

# Get a PoiskKino API token at https://api.poiskkino.dev/documentation
KINOPOISK_DEV_TOKEN=

# Optional. Defaults to 3001.
API_PORT=3001
